#crypto-display, #trade-display {
  display: none;
}

#main-container {
  max-width: 900px;
  padding: auto, 0;
}

body {
  margin-top: 15%;
  background-color: rgb(88, 30, 224) ;
}

h1 {
  font-family: 'Monoton', cursive;
  background-color: rgb(88, 30, 224) ;
  color: white;
}

#enter {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(88, 30, 224) ;
  color: white;
}

#crypto-display {
  background-color: rgb(202, 225, 235);
  border-radius: 10px;
  padding: 15px 0px;
  margin-top: 15px;
}

#trade-display {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(88, 30, 224) ;
  color: white;
}

.row {
  text-align: center;
  padding: 10px;
}

.crypto-title:hover {
  font-size: 1.1em;
  color: rgb(67, 94, 243);
  cursor: pointer;
}

.header {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}

#drop1, #drop2 {
  margin: 15%;
}

#trade-btn {
  margin-top: 5%;
}