#crypto-display, #trade-display {
  display: none;
}

#splash {
  margin-top:12%;
}

#loon-header {
  font-family: 'Monoton', cursive;
  color: white;
}

#hr-header {
  border-top: 2px solid white;
  margin-top: -1%;
  margin-inline: 8%;
}

#crpto-blurb {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 4%;
  margin-inline: 9%;
  text-align: left;
}

body {
  background-color: rgb(88, 30, 224) ;
}

h1 {
  font-family: 'Monoton', cursive;
  background-color: rgb(88, 30, 224) ;
  color: white;
}

#enter {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(88, 30, 224) ;
  color: white;
}

#display-container {
  background-color: rgb(235, 240, 241);
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  padding: 65px 45px;
  margin-top: 20px;
  min-width: 550px;
}

#trade-display {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 15px 45px;
  min-width: 550px;
}

.row {
  text-align: center;
  padding: 10px;
}

.crypto-title:hover {
  font-size: 1.1em;
  color: rgb(67, 94, 243);
  cursor: pointer;
}

.header {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}

#exchange-btn {
  padding: 2% 4%;
}

.drop, .exchange-input {
  margin: 5% 8%;
}

#trade-btn {
  margin-top: 3%;
  margin-inline: 8%;
}

#back {
  margin-top: 3%;
  margin-inline: 2%;
}